/**variables**/
$background-body: #242932;
$background-header: #ffffff13;
$font-color-main: #ededed;
$font-color-main-variant: #ededed50;
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;
$rubik: 'Rubik', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$marca-size: 2.1875rem;
$marca-sizeMin: 2.1875rem;
$yellow: #FFC500;
$pink: #fd007a;
$pink-variant: #fd007aee;
$black: #000000;
$chocco: #863804;
$strong: #db143c;
$pink-soft: #f577b4;
$breeze: #0064fa;
$cool: #64d2ee;
$sunny: #ffc400;
$soft: #ff8800ef;
$natural: #91ff00;
$bg_index: url('../assets/img/bg_index.jpg');
$bg_nosotros: url('../assets/img/bg_us.jpg');
$bg_productos: url('../assets/img/bg_coffees.jpg');
$bg_galeria: url('../assets/img/bg_gallery.jpg');
$bg_contacto: url('../assets/img/bg_contact.jpg');