@media screen and (min-width: 425px) {
  header{
    .navigation{
      .marca {
        font-size: 1.25rem;
        transition: all 0.5s;
      }
    }
    
  }
  .main-index{
    grid-template-rows: repeat(6, 6.25rem);
    .main__titulo {
 
      h1 {
        font-size: 1.125rem;
        transition: all 0.5s;
      }
  
      h3 {
        font-size: 1.5625rem;
        transition: all 0.5s;
      }
    }
    .main__presentacion {
      p {
        font-size: 1rem;
        transition: all 0.5s;
        .marca {

          font-size: 1rem;
          transition: all 0.5s;
        }

      }
    }
    .main__botones {
      grid-row: 6 / 6;
      transition: all 0.5s;
      a {
        width: 9.375rem;
        height: 2.50rem;
        transition: all 0.5s;
      }
      .gradient-text1, .gradient-text2{
        font-size:1.125rem;
        transition: all 0.5s;
      }
    }
  }
  .main__nos{
    @include grid (repeat(3, 1fr),repeat(10, 9.375rem),none,none,none);
    .main__titulo--nos {
      h3 {
        font-size: 2rem;
        transition: all 0.5s;
      }
    }
    .main__texto {
      grid-row: 2 / 8;
      transition: all 0.5s;
      p {
        font-size: 1rem;
        transition: all 0.5s;
  
        .marca {
          font-size: 1rem;
          transition: all 0.5s;
        }
      }
    }
    .team{
      .card-box{
        .card{
          height: 10rem;
          img {
            height: 9.375rem;
            transition: 0.8s ease all;
          }
        }
      }
    }
  }
  .main__productos{
    @include grid (repeat(3, 1fr),repeat(5, 10.625rem),none,none,none);
    .main__titulo--prod {
      h3 {
        font-size: 1.6875rem;
        padding: 1.25rem;
        transition: all 0.5s;
      }
    }
    .grupo-prod{
      .cards-style{
        .cards-cafe{
          .cards-body{
            button {
              font-size: 1.5625rem;
              padding: .625rem 4.6875rem;
              transition: all 0.5s;
            }
          }
        }
      }
    }
  }
  .main__gal {
    .main__titulo--gal {
      h3 {
        font-size: 1.63rem;
        transition: all 0.5s;
      }
    }
  }


  .main__contacto {
    .main__titulo--contacto {
  
      h3 {
        font-size: 2rem;
        transition: all 0.5s;
      }
    }
    .main__titulo--contacto2{
      h3 {
        font-size: 2rem;
        transition: all 0.5s;
      }
    }
    .container__form{
      .form_contacto {
        width: 23.75rem;
        transition: all 0.5s;
        strong {
          font-size: 1rem;
          transition: all 0.5s;
        }
  
        .form_input {
          width: 22.5rem;
          transition: all 0.5s;
          .mensajero {
            font-size: 1rem;
            transition: all 0.5s;
          }
        }
       .register {
          margin: 1.5625rem 0 1.5625rem;
          transition: all 0.5s;
          p {
            font-size: 1.25rem;
            transition: all 0.5s;
            .yellow {
              font-size: 1.25rem;
              transition: all 0.5s;
            }
          }
        }
  
        textarea {
          width: 22.5rem;
          transition: all 0.5s;
        }
      }
    }
   
  }
  footer {
    @include grid (repeat(3, 1fr), repeat(6, 3.625rem), none, none, none);
    transition: all 0.5s;
    .menu-x {
      li {
        a {
          font-size: .875rem;
          transition: all 0.5s;
        }
      }
    }

  
    .social {
      .footer-ico {
        i {
          font-size: 1.25rem;
          transition: all 0.5s;
        }
    
        a {
          width: 2rem;
          height: 2rem;
          transition: all 0.5s;
        }
      }
    }
  
    .location {
      a {
        width: 7.5rem;
        font-size: .9375rem;
        transition: all 0.5s;
      }
   
      .iconmax i {
        font-size: 1.5625rem;
        transition: all 0.5s;
      }
    }
  
    .etiquetas {
      p {
        font-size: .6875rem;
        transition: all 0.5s;
      }
    }
  
    .newsletter {
      h4 {
        font-size: 0.885rem;
        transition: all 0.5s;
      }
  
      .input-container {
        input {
          font-size: .875rem;
          transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
  
    .me {
      font-size: .625rem;
      transition: all 0.5s;
    }
  
  }
}
